<% provide(:title, @artist.name) %>
<div class="rou">
  <div class="col-md-4">
    <div class="artist-info">
      <h1>
        <%= gravatar_for @artist %>
        <%= @artist.name %>
      </h1>
    </div>
  <div class="col-md-8">
    <div class="artist-content">
      <h2>自己紹介</h2>
    </div>
  </div>  
  </div>
</div>