<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <h1>Let's enjoy music</h1>
      <p>Music Boxはアーティストとリスナーを紡ぐ音源配布サイトです</p>
      <p>誰でも音源をアップロードしたり、ダウンロードすることができます</p>
      <%= form_tag(artists_path, :method => 'get' ) do %>
        <%= text_field_tag :search %>
        <%= submit_tag 'Search', :name => nil %>
      <% end %>
    </div>
  </div>
</div>
<div class="middle-wrapper">
  <h2>おすすめアーティスト一覧</h2>
  <%= render @artists %>
</div>