// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: image-url('background-image01')
}
.sitename {
  background-color: white;
}

//body要素
.main-wrapper {
  
  .description{
    color: #EEEEEE;
  }
  
}